Task1/datasets/
.vscode
.qoder
.trea
.idea
zhenti/
/Task1/models/
/Task1/modules/__pycache__
buffalo
buffalo_l.zip
module_1_fer.tar.gz
module_2_behavior.tar.gz

practice/softwares/module_a_fer/checkpoints
practice/softwares/module_a_fer/dataset_data
practice/softwares/module_a_fer/models
practice/softwares/module_a_fer/pretrained-models
practice/softwares/module_a_fer/data
__pycache__
