Task1/datasets/
.vscode
.qoder
.trea
.idea
zhenti/
/Task1/models/
/Task1/modules/__pycache__
buffalo
buffalo_l.zip
module_1_fer.tar.gz
module_2_behavior.tar.gz
module_a_fer/checkpoints
module_a_fer/dataset_data
module_a_fer/models
module_a_fer/pretrained-models
module_a_fer/data
Practice/module_a_fer/checkpoints
Practice/module_a_fer/dataset_data
Practice/module_a_fer/models
Practice/module_a_fer/pretrained-models
Practice/module_a_fer/data
__pycache__
